@import '../components/normalization';

.section{
    &__container{
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: center;
        margin-top: 500px;
    }
    &__title{
        font-family: $main-font;
        margin-top: 40px;
        text-align: left;
        margin-left: 20px;

    }
    &__image{
        width: 90%;
        padding:10px 20px 10px 20px ;
    }
    &__text{
        font-family: $main-font;
        font-size: 1rem;
        text-align: justify;
        padding: 10px 20px 10px 20px;
    }
}
@media(min-width:769px){
    .section{
        &__container{
            display: flex;
            flex-direction:row;
            width: 80%;
            justify-content: center;
        }
    }
}