@import '../normalization';

.section {
        display: grid;
        grid-auto-rows: minmax(125px, auto);
        grid-gap:0.2rem;
        
    &_image {
        width: 60vw;
        height: auto;
        padding: 10px 40px 10px 80px;
    }
    &_text {
        font-family: $main-font;
        font-size: 1rem;
        text-align: justify;
        width:60vw;
        margin-left:80px;

    }

}
.section_tittle {
    font-family: $main-font;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    padding:10px;

}

@media(min-width:768px){
    .section {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            position: relative;
            margin-top:10%;
                &_two{
                    grid-row: 1;
                    grid-column: 2;
                }
                &_three{
                    grid-row: 1;
                    grid-column: 3;
                }
         
            &_image {
                width: 70%;
                height: auto;
                position: relative;
            }

            &_text  {
                font-family: $main-font;
                font-size: 1rem;
                text-align: justify;
                width:70%;
            }
        }

    }
    @media(min-width:1064px) {
        .section{
            position: relative;
            margin-top:5%;
        }
    }