@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");
@import '../normalization';


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:$main-color;
    color: black;
    font-family: $main-font;
    height: 50px;
    padding: 15px;

    &--btn-show,
    &--btn-hide {
        font-size: 14px;
        display: none;
    }

      &--menu{
        display: flex;
        justify-content: flex-end;
        align-content: center;
        list-style: none;
        font-family:$main-font;

        &_item{
            font-size: 16px;
            padding: 0 16px;
        }

      

      }

      &_logo {
        width:auto;
        height: 50px;
    }
  

}

#nav_checkMenu {
    visibility: hidden;
    position: absolute;
}



@media screen and (max-width: 700px) {

    .nav--btn-show, .nav--btn-hide {
        display: block;
    }

    .nav--btn-hide {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .navbar--menu {
        background-color: $secondary-color;
        position: fixed;
        width: 50%;
        height: 70vh;
        top: 0;
        right: -100%;
        flex-direction: column;
        align-items: center;
        padding: 50px 0;
        transition: 1s;
    
    
        &_item {
            padding: 20px 0;
        }           }
  

        .nav--menu_item a:active ~ .navbar--menu {
            right: -100%;
        }

        #nav_checkMenu:checked ~ .navbar--menu {
            right: 0;
        }
}