@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");
@import '../normalization';
     
.nav {
    width: 100%;
    background-color: $main-color;
     
        &__menu ul {
            margin:0;
            list-style: none;
            padding: 0;
            display: flex;
                li {
                    font-family: $main-font;
                    font-size: 1rem;
                    text-align: center;
                        &:hover {
                            background-color: $tertiary-color;
                        }
                        a {
                            display: block;
                            padding: 15px 20px;
                            text-decoration: none;
                            color: $secondary-color;
                        }
                }
        }
        &__label {
            display: none;
            width: 30px;
            height: 18px;
            padding: 10px;
                &:hover {
                    cursor: pointer;
                    background-color: $tertiary-color;
                }
        }


}

#nav_check-menu {
    display: none;
}

@media (max-width:768px) {
    .nav_label {
        display: block;
    }
    .nav {           
        &__menu {
            position: absolute;
            background-color:$main-color;
            width: 50%;
            margin-left: -70%;
            transition:all 1s;
            }
                &__menu ul {
                    flex-direction: column;
                }
               
        }
        #nav_check-menu:checked ~ .nav_menu{
            margin:0;
    }
}