@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");
@import '../normalization';

.nav {
        &_container {
            width: 100vw;
            background-color: $main-color;
        }
                &_check-menu{
                    display: none;
                }
                    &_btn-show{
                        display: none;
                        width: 30px;
                        height: 30px;
                        padding: 10px;
                            &:hover {
                                cursor: pointer;
                                background-color:$tertiary-color;
                            }
                    }
                    &_menu ul {
                        margin:0;
                        list-style:none;
                        padding: 0;
                        display:flex;
                        justify-content: flex-end;
                        font-family: $main-font;
                        font-size: 1.3rem;
                        font-weight: 700;
                             li{
                                 display: block;
                                 padding: 15px 20px;
                                 &:hover{
                                     background-color:$tertiary-color ;
                                 }
                             }
                    }                                
    }

@media (max-width:768px){
    .nav{
        &_btn-show{
            display: block;
        }
            &_menu{
                position: absolute;
                background-color: $main-color;
                width:70%;
                margin-left:-70%;
                transition: all 1s;
                    ul{
                        flex-direction: column;
                    }
            }
              
    }
   

}
     
