@import '../normalization';

.section {

    &_image {
        width: 20vw;
        height: auto;

    }
    &_text{
        font-family: $main-font;
        font-size: 1rem;
        text-align: justify;

    }

}
.section_tittle {

    font-family: $main-font;
    font-size: 1.2rem;

}